*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{ 
    padding: 10px; 
    background-color: #255EE9
}
.header-iniziale{
    width: 40%;
     
}

.header-center{
    width: 80%;
    padding: 10px;
    text-align: center;
}


.header-destra{
    text-align: right;
    padding: 10px;
}

/* flex */
.d-flex{
    display:flex;
}
.flex-row{
    flex-flow: 1;
}
.flex-grow{
    flex-grow:1 ;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 10px;
}


/* bg colorati */

.bg-giallo{
    background-color: yellow;
    
}

.bg-turchese{
    background-color: aqua;
}
.bg-bianco{
    background-color: rgb(255, 255, 255);

}

.bg-rosa{
    background-color: rgb(255, 192, 203);    
}

.bg-grigio{
    background-color: rgb(170, 165, 165);
}

.bg-grigio-scuro{
    background-color: rgb(96, 96, 96);
}
.item-1{
        background-image:url(/img/item1.svg);
}

.bg-azzurro{
    background-color: aqua;
}
.bg-verde{
    background-color: green;
}
/* contenitori */
.container{
    max-width: 900px;
    margin: 0 auto;}

.content{
    height: 323px;
    margin: 15px 0;
}

.rettangolo-1{
    width: 60%;
    margin: auto;
    
}

.tg{
    height: 500px;
}
.rettangolo-piccolo{
    height: 195px;
    border: 1px dashed white;
}
.width60{
    width: 60%;
}

.space-between{
    justify-content: space-between;
}

.width40{
    width: 40%;
    
}

.width30{
    width: 30%;
    
}

.width100{
    width: 100%;
}



.rettangolo-blue{
    background-color: rgb(13, 0, 255);
    
}
/*footer */
.foot{
    height: 40px;
    margin-top: 5px;
    border: 1px dashed;
}

.foot2{
    width: 50px;
    margin: 10px;
    border: 1px dashed;
}

a{  
    color: white;
    text-decoration: none;
}

.button {	
    font-size: 20px;
    background-color: #fafaff;
    color: #010101;
    border: none;
    border-radius: 11px;
}


.button2 {	
    position:relative;
    bottom: 110px;
    left: 90px;
    font-size: 120%;
    background-color: #fafaff;
    color: #010101;
    border: none;
    border-radius: 11px;
}

.button3 {	
    position:relative;
    bottom: 110px;
    left: 90px;
    font-size: 120%;
    background-color: #151414b8;
    color: #ffffff;
    border: none;
    border-radius: 11px;
}

.jumbo{
    background-image:url(/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.item-1{

}

.jumbo-txt {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   align-content: center;
   color: white;
  
}

.item-1-txt{
    
}

.button-align{
    align-items: center;
}

.text-center{
    text-align: center;
}

