*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{ 
    padding: 10px; 
    background-color: #255EE9
}
.header-iniziale{
    width: 40%;
     
}

.header-center{
    width: 80%;
    padding: 10px;
    text-align: center;
}


.header-destra{
    text-align: right;
    padding: 10px;
}

/* flex */
.d-flex{
    display:flex;
}
.flex-row{
    flex-flow: 1;
}

.flex-grow{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 10px;
}


/* bg colorati */

.bg-bianco{
    background-color: rgb(255, 255, 255);

}

.bg-grigio{
    background-color: #F6F6F6;
}

.bg-grigio-scuro{
    background-color: #23272A;
}

/* contenitori */
.container{
    max-width: 900px;
    margin: 0 auto;}

.content{
    height: 323px;
    margin: 15px 0;
}

.content-big{
    height: 100px;
    margin: 15px 0;
}

.jumbo-txt {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   align-content: center;
   color: rgb(255, 255, 255);
  
}

.jumbo-txt-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: rgb(0, 0, 0);
   
 }

.jumbo{
    background-image:url(/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.jumbo-1{
    width: 60%;
    margin: auto;
    
}

.width60{
    width: 60%;
}

.space-between{
    justify-content: space-between;
}

.width40{
    width: 40%;
    
}

.width30{
    width: 30%;
    
}

.width100{
    width: 100%;
}

/*footer */

.footer-2{
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 10px;
    color: #ffffff;
}

.footer-2 div{
    margin-top: 15px;

}

.footer-3{
    margin-top:20px;
    margin-bottom: 30px;
}

.foot2{
    width: 50px;
    margin-top: 50px;
}

/* button */

a{  
    color: white;
    text-decoration: none;
}

.button {	
    font-size: 20px;
    background-color: #fafaff;
    color: #010101;
    border: none;
    border-radius: 11px;
}

.button-align{
    align-items: center;
}

.button2 {	
    position:relative;
    bottom: 110px;
    left: 90px;
    font-size: 120%;
    background-color: #fafaff;
    color: #010101;
    border: none;
    border-radius: 11px;
}

.button3 {	
    position:relative;
    bottom: 110px;
    left: 90px;
    font-size: 120%;
    background-color: #151414b8;
    color: #ffffff;
    border: none;
    border-radius: 11px;
}

.button4 {	
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 120%;
    background-color: #7289DA;
    color: #ffffff;
    border: none;
    border-radius: 11px;
}

/* ìmmagini */

.item-1{
        background-image:url(/img/item1.svg);
        background-size: contain;
        background-repeat: no-repeat;
}

.item-2{
    background-image: url(/img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-3{
    background-image: url(/img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-4{
    background-image: url(/img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.stars{
    background-image: url(/img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 300px;

}

/* utility */
.ita{
    height: 15px;
    margin: 20px 0 15px;
}

.ita img{
    height: 15px;
    margin-right: 10px;
}



.item-1-txt{
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   align-content: center;
}

.item-2-txt{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
     
 }



.text-center{
    text-align: center;
}

.align-left{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text-center-big{
    text-align: center;
    padding-top: 40px;
}

.inline-block{
    display: inline-block;
}


.social{
    margin: 10px 20px 10px 0px;
}

.text-blu{
    color: #728ADD;
}